:root {
    /* COLORS */
    --clr1: #22252c;
    --clr2: #21ac91;
    --clr3: #19a59f;
    --clr4: #ffffff;
    --clr5: #fefefe;
    --clr6: #383b42;
    --clr7: #22252c;
}

/* FONTS */
@font-face {
    font-family: poppins-light;
    src: url(../fonts/Poppins-Light.ttf);
}

/* HEALPERS */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.clean-list {
    list-style-type: none;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

/* BASICS */
body {
    background-color: var(--clr1);
    box-sizing: border-box;
    overflow-x: hidden;
}

/* LAYOUT */
.grid-container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


/* HEADER */
.menu {
    border-radius: 10px;
    cursor: pointer;
    display: block;
}

.header {
    font-family: poppins-light;
    background-image: linear-gradient(to right, var(--clr2), var(--clr3));
    border-radius: 30px;
}

.logo {
    color: var(--clr5);
    font-size: 22px;
}

.navigation-menu {
    position: absolute;
    left: 150%;
    top: 7%;
    transition: ease-in 0.2s;
}

.opened {
    left: 100%;
    transform: translate(-100%);
}

.navigation-menu ul {
    display: block;
}

.navigation-menu ul li {
    margin: 10px;
}

.navigation-menu ul li button {
    color: var(--clr5);
    font-size: 21px;
    background-color: var(--clr3);
    border: 0px black;
    padding: 11px 18px;
    border-radius: 30px;
    cursor: pointer;
}

.navigation-menu ul li button:hover {
    background-color: var(--clr5);
    color: var(--clr2);
}

/* MAIN */
.filter {
    height: auto;
}

.search-box {
    width: 350px;
    height: 50px;
    padding: 15px 25px;
    border-radius: 30px;
    background-color: var(--clr1);
    color: var(--clr5);
    border: 0px black;
    margin-bottom: 20px;
}

.filter-by-category {
    background-color: var(--clr5);
    width: 350px;
    height: 50px;
    border-radius: 30px;
}

main {
    margin-top: 16px;
}

.gallery {
    background-color: var(--clr6);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.image {
    height: 130px;
    width: 130px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
}

/* EDITOR */

.editor {
    /* display: flex; */
    justify-content: center;
    /* height: 100%;
    width: 100%; */
    margin-top: 20px;
}

.editor>* {
    margin: 20px;
}

.closed {
    display: none;
}



.edit-container {
    height: 450px;
    width: 450px;
    background-color: rgb(214, 206, 206);
    border-radius: 10px;
    padding: 30px;
}

.canvas {
    border: 2px black solid;
    border-radius: 20px;
}

.canvas-container {
    height: 500px;
    width: 500px;
}

@media (min-width:460px) {

    .image {
        width: 170px;
        height: 170px;
    }
}

@media (min-width:642px) {
    .navigation-menu {
        position: static;
    }

    .menu {
        display: none;
    }

    .navigation-menu ul {
        display: contents;
    }
}

@media (min-width:772px) {
    .search-box {
        margin-right: 20px
    }
}