:root {
    /* COLORS */
    
    --clr1: #22252c;
    --clr2: #21ac91;
    --clr3: #19a59f;
    --clr4: #ffffff;
    --clr5: #fefefe;
    --clr6: #383b42;
    --clr7: #22252c;
    --clr8: #bbc4d1;
}

/* FONTS */

@font-face {
    font-family: poppins-light;
    src: url(../fonts/Poppins-Light.ttf);
}

/* HEALPERS */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.clean-list {
    list-style-type: none;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

/* BASICS */

body.rtl  {
    direction: rtl;
}
.editor , .edit-container{
    direction: ltr !important;
}
html{
    overflow-x: hidden;
}
body {
    background-color: var(--clr1);
    box-sizing: border-box;
}

.font-btn {
    font-family: poppins-light;
    padding: 5px;
    border-radius: 10px;
    border: 0px black;
    cursor: pointer;
    
}
.font-btn{
 background-color: beige
}


.font-btn :not(.font-style) img{
    height: 100%;
    width: 100%;
}

.share-download {
    font-family: poppins-light;
    border: 0px black;
    padding: 5rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: x-large;
    color: var(--clr6);
}

.download {
    padding: 5px;
    background-color: rgb(177, 136, 214);
}

.share {
    padding: 5px;
    background-color: rgb(128, 146, 226);
}

a {
    text-decoration: none;
}

canvas {
    cursor: grab;
}

/* LAYOUT */

.grid-container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}



/* HEADER */

.menu {
    border-radius: 10px;
    cursor: pointer;
    display: block;
}

.header {
    font-family: poppins-light;
    background-image: linear-gradient(to right, var(--clr2), var(--clr3));
    border-radius: 30px;
}

.logo {
    color: var(--clr5);
    font-size: 22px;
}

.navigation-menu {
    position: absolute;
    left: 150%;
    top: 7%;
}

.navigation-menu.opened.rtl {
    left: 0%;
    transform: translate(0%);
}



.opened {
    left: 100%;
    transform: translate(-100%);
}

.navigation-menu ul {
    display: block;
}

.navigation-menu ul li {
    margin: 10px;
}

.navigation-menu ul li button {
    color: var(--clr5);
    font-size: 21px;
    background-color: var(--clr3);
    border: 0px black;
    padding: 11px 18px;
    border-radius: 30px;
    cursor: pointer;
}

.clicked {
    background-color: var(--clr5) !important;
    color: var(--clr2) !important;
}

.navigation-menu ul li button:hover {
    background-color: var(--clr5);
    color: var(--clr2);
}

/* MAIN */

.filter {
    height: auto;
}


.search-box {
    margin-top: 10px;
    padding: 15px 25px;
    border-radius: 30px;
    background-color: var(--clr1);
    color: var(--clr5);
    border: 0px black;
}

.lan {
    margin-top: 10px;
    padding: 15px 25px;
    margin-inline-end: 20px;
    border-radius: 30px;
}

.filter-by-category {
    margin-top: 10px;
    padding: 15px 25px;
    background-color: var(--clr5);
    padding: 1px;
    border-radius: 30px;
}

.filter-by-category>* {
    background-color: var(--clr5);
    border: 0px;
    border-radius: 30px;
    font-family: poppins-light;
    cursor: pointer;
}

main {
    margin-top: 16px;
}

.gallery {
    background-color: var(--clr6);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.image {
    height: 130px;
    width: 130px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
}

/* EDITOR */

.editor {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

.editor>* {
    margin-inline-start: 50px;
    margin-inline-end: 50px;
    margin-bottom: 20px;
}

.closed {
    display: none;
}

.edit-container {
    height: 350px;
    width: 350px;
    background-color: var(--clr6);
    border-radius: 10px;
    padding: 30px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.line {
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    border-radius: 20px;
    background-color: var(--clr5);
    grid-column: 1 / 10;
    grid-row: 1;
}

.change-txt {
    padding: 5px;
    border-radius: 20px;
    background-color: var(--clr3);
    grid-column: 1 / 10;
    grid-row: 3/8;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.font-style{
    grid-column: 1/span 2;
}
.center{
    grid-column: 3; 
}

.stroke-img , .switch-line img{
    height: 25px;
    width: 25px;
}

.change-txt>* {
    margin: 7px;
}

.share-downlowd {
    grid-column: 1 / 10;
    grid-row: 9/10;
}

.canvas {
    border: 2px black solid;
    border-radius: 20px;
}

.canvas-container {
    display: flex;
    aspect-ratio: 1/1;
}

/* RESPONSIVE */

@media (min-width:497px) {
    html{
        overflow-x: hidden;
    }
    .image {
        width: 170px;
        height: 170px;
    }
}

@media (min-width:642px) {
    html{
        overflow-x: hidden;
    }
    .navigation-menu {
        position: static;
    }

    .menu {
        display: none;
    }

    .navigation-menu ul {
        display: contents;
    }
}

@media (min-width:772px) {
    .search-box {
        margin-inline-end: 20px
    }
}

@media (min-width:941px) {
    .canvas-container {
        width: 32%;
        height: fit-content;
    }

    .editor {
        flex-direction: row;
    }

    .edit-container {
        height: 350px;
        width: 350px;
    }
}